body{
    /* background-image: url(../img/m7.jpg); */
    background: transparent;
     background-size: cover;
     font-size: 1.1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   justify-items: start;
   margin-top: 3%;
   gap: 5%;
   text-align: left;
  
    
}
.hello{
    margin-top: 10px;
    padding: 6%;
    width: 60%;
    
}

/* .exp{
    
    width: 20%;
}
.skil{
   
    width: 30%;

}



.me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* color: rgb(185, 195, 189); 
    
} */
.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    text-align: left;
    
}


.service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    /* color: aliceblue; */
    
}
.ser{
    background-color: rgba(177, 172, 172, 0.3);
    /* padding-right: 3%;
    padding-left:  3%; */
    flex-grow: 2;
    padding: 5%;
    border-radius: 10%;

}

@media only screen and (max-width:1024px){
    .about{
        flex-wrap: wrap;
        margin-top: 50%;

       
    }
    .container{
        
    }
}