.footer{
    /* background-color: gray; */
    margin-top: 100px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #115f64;
}
.facebook{
color: rgb(52, 52, 199);
width: 50%;
height: 50%;
padding-right: 20px;
}
.youtube{
    color: rgb(230, 5, 5);
    padding-right: 20px;
    width: 50%;
   height: 50%;
}
.twitter{
    color: rgb(181, 166, 166);
    padding-right: 20px;
    width: 50%;
    height: 50%;

}
.linkedin{
    color: rgb(52, 52, 199);
    width: 30%;
    height: 30%;
    
}
.icon{
    display: flex;
  
   
}
