body{
    justify-content: center;
    /* background-attachment: fixed;
    background-size: cover; */
    margin-top: 20px;
    
}
.bod{
    background-color: rgb(145, 144, 144,0.3);
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    border-radius: 10%;
    /* background-color: rgb(221, 220, 220); */
    justify-content: space-between;
    margin-top: 5%;
    padding: 5%;
  
    
}
.container{
    margin-top: 3%;
    
}

.form{
    padding: 12%;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-right: 5%;
    background-color: rgba(145, 144, 144,0.3);
    border-radius: 20%;
    /* backgro10
    und-color: rgb(56, 50, 50); */
    color: black;
  
    
}
.form input{
    width: 100%; 
}
button{
    padding: 0.2%;
    border-radius: 3%;
    width: 100px;
    background-color: rgb(124, 127, 125);
}
.get{
    /* padding-left: 2%; */
    /* background-image: url(../img/comtactme.jpg);
    background-size: cover; */
}